<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEPDfmDIoRYErzFDqK9zXDUC9CbNzXyJU</string>
	<key>GCM_SENDER_ID</key>
	<string>490472679348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotifyBloc</string>
	<key>PROJECT_ID</key>
	<string>spotify-na</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-na.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490472679348:ios:9413a5c9234ddcf25ef4e1</string>
</dict>
</plist>